<ActionBar>
<!--    <NavigationButton icon="res://icmenu" *ifAndroid-->
<!--                      (loaded)="navigationButtonLoaded($event)">-->

<!--    </NavigationButton>-->
<!--    <ActionItem icon="res://icmenu" ios.position="left" *ifIos></ActionItem>-->
    <GridLayout columns="50, *, 50">
        <!--Add your page content here-->
        <StackLayout col="0" class="menu-button-container" (tap)="toggleSideMenu()">
            <GridLayout [class.active]="(menuOpened | async) === true" class="menu-button" rows="auto, *, auto">
                <StackLayout class="menu-button-top-border" row="0"></StackLayout>
                <StackLayout class="menu-button-bottom-border" row="1"></StackLayout>
            </GridLayout>
        </StackLayout>
        <Label col="1" textWrap="true" text="Spin" class="montserrat-font spin-header"></Label>
        <StackLayout col="2" class="notifications-ben" *ngIf="(isUserAuth | async) === false">
            <GridLayout columns="auto, auto">
                <Label col="0" text="M" class="spin-icon f-s-18 p-0 m-0"></Label>
                <StackLayout col="1" class="notification-circle"></StackLayout>
            </GridLayout>
        </StackLayout>
    </GridLayout>
</ActionBar>
