<spin-header></spin-header>
<GridLayout rows="auto, auto, auto">
    <Image *ngIf="(isProfileImageSet | async) === true" [src]="(profileImage | async)" stretch="aspectFill" row="0"
           class="profile-image">
    </Image>
    <StackLayout row="0" class="registration-header" #addPhotoHeader>
        <Label text="Registration" class="registration-header-title"></Label>
        <Label text="Add your photo" class="registration-header-description"></Label>
    </StackLayout>
    <FlexboxLayout *ngIf="(isProfileImageSet | async) === false"
                   row="1"
                   class="add-photo-container"
                   (tap)="selectImage()">
        <StackLayout class="add-photo-button">
            <Label text="+"></Label>
        </StackLayout>
        <Label text="Your best pic" class="montserrat-font add-photo-description"></Label>
    </FlexboxLayout>
    <GridLayout *ngIf="(isProfileImageSet | async) === true" row="1" columns="auto" class="profile-image">
        <Image width="280" height="280" [src]="(profileImage | async)" col="0" loadMode="async">
        </Image>
        <FlexboxLayout class="edit-button" col="0" (tap)="selectImage()">
            <Label text="N" class="spin-icon"></Label>
        </FlexboxLayout>
    </GridLayout>
    <StackLayout row="2" class="m-t-30" width="280">
        <SUIBasicButton text="Register"
                        (buttonTapped)="submitForm()"
                        [isEnabled]="(isProfileImageSet | async) === true && !loading">
        </SUIBasicButton>
    </StackLayout>
</GridLayout>
<ActivityIndicator [busy]="loading" color="#9158F3" width="100" height="100"></ActivityIndicator>
