/* Add mobile styles for the component here.  */

.registration-header {
    height: 50%;
}

.registration-header.active {
    background: linear-gradient(90deg, rgba(145, 88, 243, 0.8) 0%, rgba(237, 99, 180, 0.8) 100%);
}


.add-photo-container {
    margin-top: -140;
    width: 280;
    height: 280;
    background-color: #EBE6F3;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.add-photo-button {
    width: 90;
    height: 90;
    border-radius: 90;
    background: #9158F3;
    vertical-align: center;
}

.add-photo-button Label {
    font-size: 40;
    color: white;
    font-weight: 300;

    text-align: center;
}

.add-photo-description {
    color: #AEA3C0;
    font-size: 12;
    line-height: 15;
    margin-top: 15;
}

.profile-image {
    margin-top: -140;
    horizontal-align: center;
}

.edit-button {
    vertical-align: bottom;
    horizontal-align: left;
    justify-content: center;
    align-items: center;
    margin-left: 10;
    margin-bottom: 10;
    width: 48;
    height: 48;
    background-color: white;
    border-radius: 24;
}

.edit-button Label {
    padding: 0;
    font-size: 20;
}
