Django==2.2.20
django-autofixture==0.12.1
django-cors-headers==3.2.0
django-environ==0.4.5
django-mysql==3.3.0
djangorestframework==3.11.0
fernet==1.0.1
mysql-connector-python==8.0.18
mysqlclient==1.4.6
pkg-resources==0.0.0
protobuf==3.11.1
pyaes==1.6.1
pycrypto==2.6.1
PyQRCode==1.2.1
pytz==2019.3
simple-crypt==4.1.7
six==1.13.0
sqlparse==0.3.0
djangorestframework-simplejwt==4.4.0
PyJWT==1.7.1
django-split-settings==0.3.0
celery==4.3
python-dotenv==0.9.1
djangorestframework-jwt==1.11.0
djangorestframework-simplejwt==4.4.0
