<spin-header></spin-header>
<ScrollView>
    <GridLayout rows="auto, *, auto">
        <StackLayout row="0" class="registration-header">
            <Label text="Login" class="registration-header-title"></Label>
            <Label text="Login data" class="registration-header-description"></Label>
        </StackLayout>
        <StackLayout row="1" padding="24" class="form" [formGroup]="registrationForm">
            <GridLayout rows="auto, auto, auto">
                <GridLayout columns="*, auto" row="1" class="p-x-10 form-block">
                    <StackLayout column="0">
                        <MDTextField  hint="Email:"
                                      keyboardType="email"
                                      placeholderColor="#2A2B2E"
                                      backgroundColor="white"
                                      floatingColor="#AEA3C0"
                                      returnKeyType="next"
                                      strokeColor="#9158F3"
                                      formControlName="email"
                                      [isEnabled]="!this.loading"
                                      class="montserrat-font">
                        </MDTextField>
                    </StackLayout>
                </GridLayout>
                <GridLayout columns="*, auto" row="2" class="p-x-10 form-block">
                    <StackLayout column="0">
                        <MDTextField  hint="Password:"
                                      [placeholderColor]="'#2A2B2E'"
                                      backgroundColor="white"
                                      [floatingColor]="'#AEA3C0'"
                                      returnKeyType="send"
                                      [strokeColor]="'#9158F3'"
                                      formControlName="password"
                                      class="montserrat-font"
                                      [isEnabled]="!this.loading"
                                      (blur)="submitForm()"
                                      [secure]="hidePassword">
                        </MDTextField>
                    </StackLayout>
                    <Label [text]="hidePassword ? 'I' : 'I'"
                           column="1"
                           verticalAlignment="center"
                           class="spin-icon password-icon"
                           (tap)="togglePassword()">
                    </Label>
                </GridLayout>
            </GridLayout>
            <GridLayout rows="auto, auto">
                <GridLayout row="0" columns="auto, *" class="registration-attention-block m-t-30">
                    <Label text="" class="fas" col="0"></Label>
                    <StackLayout col="1">
                        <TextView editable="false" class="montserrat-font">
                            <FormattedString>
                                <Span text="If you lose your password, you will lose access to your data.&#xa;" fontWeight="Bold"></Span>
                                <Span text="- All your data is encrypted by your password and stored on your device only.&#xa;"></Span>
                                <Span text="- SPIN has only limited acces to the anonymized connections history."></Span>
                            </FormattedString>
                        </TextView>
                    </StackLayout>
                </GridLayout>
                <StackLayout row="1" class="m-t-15">
                    <SUIBasicButton text="Sign In"
                                    (buttonTapped)="submitForm()"
                                    [isEnabled]="true">
                    </SUIBasicButton>
                </StackLayout>
            </GridLayout>
        </StackLayout>
        <Label class="m-b-15 login-footer montserrat-font font-weight-bold" (tap)="goToRegistration()" row="2">
            <FormattedString>
                <Span text="Don’t have an account? "></Span>
                <Span text="Sign up" class="bold" color="blue"></Span>
            </FormattedString>
        </Label>
    </GridLayout>
</ScrollView>
<ActivityIndicator [busy]="loading" color="#9158F3" width="100" height="100"></ActivityIndicator>
